/* 반응형 디자인 769 ~ 1024px */

@media (max-width: 1024px) {
    .conBox {
        width: 90%;padding: 30px;
    }
    .con1 .box {
        width: 48%;
    }
    .con1 .box:nth-child(3) {
        display:none;
    }

}