html {
    margin: 0 0;
    background-color: #00539f;
}

body {
    width: 600px;
    margin: 0 auto; 
    background-color: #ff9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1 {
    margin: 0;
    text-shadow: 2px 2px 20px blueviolet;
    font-size: 4em;
    text-align: center;
    color: #00539f;
}

img {
    display: block;
    width: 40%;
    margin: 0 auto;
}

p {
    padding: 10px;
}