/* PC 화면 (기본적으로 숨김) 상단
#doz_header {
  display: none;
}

#w202504217087a9a8689f9 ul li:nth-of-type(3) a .plain_name::first-letter {
  color: #dc1c20;
} */

a[href="/h-ing"] .plain_name {
  background: linear-gradient(to right, #dc1c20 0%, #dc1c20 30%, #000 15%, #000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* test css code */